<section class="info">
  <h1>Let's chat!</h1>

  <p>
    I'm currently seeking work opportunities in back end or fullstack development.
    <%= link_to "Here's my resume!", asset_path("jamison-ordway-resume.pdf", skip_pipeline: true) %>
  </p>
  <p class="styled-link">
    Please email me at <a href="mailto:jamisonordway@gmail.com">jamisonordway@gmail.com</a>.
  </p>
</section>