<section class="info">
  <h1>Let's chat!</h1>

  <p>
    I'm currently seeking work opportunities in back end or fullstack development.
  </p>
  <p class="styled-link">
    Please email me at <a href="mailto:jamisonordway@gmail.com">jamisonordway@gmail.com</a>.
  </p>
</section>