<section class="info">
  <h1>About</h1>
  <p>
    I'm a software engineer with over five years of industry experience, coming from a background in education, hospitality, and entertainment. 
    After graduating from the Turing School of Software and Design with a Backend Engineering Certificate, I contributed to early stage startups across both sides of the stack before returning to Turing to teach.
  </p>
  <p>
    My technical interests include web accessibility, data privacy, UI/UX design, testing, and software architechture. 
    Outside of work I spend a lot of time tinkering with electronics, gardening, writing, and playing games with my friends!
  </p>
  <p>You can learn more about my work and check out some of my personal projects below. I look forward to hearing from you!</p>
  
  <h1>Portfolio</h1>

  <section class="projects">
    <% @projects.each do |project| %>
      <section class="project">
        <h2><%= project.title %></h2>
        <%= link_to "View #{project.title} on GitHub", project.url %>
        <h4>About this project:</h3>
        <p><%= project.description %></p>
      </section>
    <% end %>
  </section>
</section>