body {
  background-color: #ECEEE8;
  margin: 0;
}

.container {
  --main-bg-color: #ECEEE8; /* Alabaster */
  --header-font-family: 'Palatino', serif;
  --text-font-family: 'Courier New', monospace;
  --black: #1E2019;
  --orange: #FFA21F;
  --medium-green: #675D26;
  --gray: #7E8B7E;
}

.base {
  background-color: var(--main-bg-color);
  color: var(--black);
  font-family: var(--header-font-family);
}

.nav {
  /* background-color: var(--orange); */
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid var(--black);

  h1 {
    font-family: var(--header-font-family);
    color: var(--black);
    text-shadow: 1px 1px 1px var(--gray);
  }

  a, a.active {
    font-family: var(--text-font-family);
    color: var(--black);
  }
  a:hover {
    color: var(--main-bg-color);
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center; 
    .btn {
      margin-right: .5rem;
      border: 2px solid var(--medium-green);
      padding: 1rem;
      background-color: var(--main-bg-color);
    }
  }
}

.info {
  margin: 2rem;
  font-size: 2rem;
  p {
    font-family: var(--text-font-family);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  /* .nav > .buttons {
    display: inline-block;
    position: absolute;
    right: 0rem;
    top: 0rem;
  } */
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin: .25rem;
    }
    .buttons {
      .btn {
        margin-right: 0rem;
        margin: .25rem;
        padding: .25rem;
      }
    }
  }
}

/* 
ash gray: #7E8B7E
eerie black: #1E2019
alabaster: #ECEEE8
orange peel: #FFA21F
field drab (green): #675D26
*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
